# Dakota restart files
dakota.rst
fort.*

# Generated output
*.out
*.log

# Potential python cruft
__pycache__/
*.py[cod]

# Potential emacs cruft
*~

# Potential MacOs cruft
*.DS_Store

# Editor cruft
*.swp
*~
