# Dakota restart files
dakota.rst
fort.*

# Generated output
*.out

# Potential python cruft
__pycache__/
*.py[cod]

# Jupyter notebook
.ipynb_checkpoints/

# Potential emacs cruft
*~

# Potential MacOs cruft
*.DS_Store

# Editor cruft
*.swp
*~
